.POPOSDetails {
	display: flex;
	flex-direction: row-reverse;
	width: 960px;
	margin: auto;
}

.POPOSDetails .POPOSDetails-info {
	flex: 1;
	text-align: left;
	padding: 0 1em;
}

.POPOSDetails .POPOSDetails-title {
	font-size: 2em;
	margin: 0;
}

.POPOSDetails .POPOSDetails-image {
	flex: 2;
}

.POPOSDetails .POPOSDetails-image img {
	width: 100%;
	padding-bottom: 40px;
}

.POPOSDetails .POPOSDetails-hours {
	font-size: 1.5em;
}

/* Smaller screens and tablets */
/* stretch challenge */
@media only screen and (max-width: 820px) {
	.POPOSDetails {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.POPOSDetails .POPOSDetails-info {
		padding-bottom: 4em;
	}
/* stretch challenge */
	img {
		max-width: 100%;
		height: auto;
		object-fit: cover;
	}
}

/* Small screens mobile */
@media only screen and (max-width: 480px) {
	.POPOSDetails {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.POPOSDetails .POPOSDetails-info {
		padding-bottom: 4em;
	}
/* stretch challenge */
	img {
		max-width: 100%;
		height: auto;
		object-fit: cover;
	}
}