.POPOSList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;
	margin: 2em auto;
	padding: 2em;
}

.POPOSSearch {
	display: flex;
	justify-content: center;
}

.POPOSSearch form {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30em;
	padding: 0;
}

.POPOSSearch form input,
.POPOSSearch form button {
	padding: 14px;
	margin: 0;
	border: 1px solid;
	border-color: #041c36;
	font-size: 1rem;
}

.POPOSSearch form input {
	flex: 1;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.POPOSSearch form button {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background: #041c36;
	color: white;
	border-width: 1px;
	border-style: solid;
	border-color: #041c36;
}

.POPOSSearch form button:hover {
	background: white;
	color: #041c36;
	cursor: pointer;
}

/* Smaller screens and tablets */
@media only screen and (max-width: 960px) {
	.POPOSList {
		grid-template-columns: 1fr 1fr;
		max-width: 100%;
		overflow-x: hidden;
	}
	.POPOSSearch form {
		max-width: 30rem;
		margin: 0 2rem;
	}
}

/* Small screens mobile */
@media only screen and (max-width: 700px) {

	.POPOSList,
	.POPOSList>* {
		grid-template-columns: 1fr;
		max-width: 100%;
		overflow-x: hidden;
	}
	.POPOSSearch form {
		max-width: 30rem;
		margin: 0 2rem;
	}
}