.POPOSSpace {
  position: relative;
  width: 100%;
  text-align: center;
  }

.POPOSSpace .POPOSSpace-title {
  text-decoration: none;
  color: #000;
}

.POPOSSpace h1 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  font-weight: lighter;
  background-color: #1d3b0e7d;
  padding: 1rem;
  text-align: left;
  font-size: 2rem;
}

.POPOSSpace .POPOSSpace-info {
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: right;

}

.POPOSSpace .POPOSSpace-info address, time {
	display: inline-block;
	padding: 0.25em 0.5em;
	background-color: rgba(255, 255, 255, 0.9);
}


.POPOSSpace img {
  width: 100%;
  height: auto;
}

.POPOSSpace a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}